.reservation{
  position: relative;
  background-image: url('../images/background_reservation.svg'); 
  background-color:#D9E7FF;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;  
  padding: 100px 80px 120px;  
  color:#000000;
}
.reservation__title{
  margin: 0 auto;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
}
.reservation__form.form {
  max-width: 385px;
  margin: 80px auto 0;
	
}
